/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Color Palette */
:root {
  --teal: #0ba39cff;
  --eerie-black: #252525ff;
  --granite-gray: #898989ff;
}

/* !Page Styling */
/* %Elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0;
}

button {
  background-color: var(--teal);
  padding: 0.4em;
  border: none;
  padding: 1em;
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 1em;
  box-shadow: 0 100px 10px rbga(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: var(--teal);
  padding: 1.2em;
}

button:active {
  padding: 1em;
  background-color: rgba(11, 163, 155, 0.501);
  color: white;
}

h1 {
  font-family: 'Poller One', cursive;
  font-size: 20px;
  text-align: center;
  background-color: var(--eerie-black);
  color: white;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

header {
  margin-top: 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

footer {
  width: 100%;
  background-color: var(--eerie-black);
  padding: 2em;
  margin-top: 3em;
}

footer > p {
  color: white;
  text-align: center;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px;
  justify-items: center;
  align-items: center;
  row-gap: 1em;
}

/* %Classes */
.bar {
  height: 3px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.close-icon {
  width: 16px;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.close-icon:hover {
  width: 18px;
  transition: width ease-in-out 0.2s;
}

.close-icon:active {
  width: 16px;
}

.gallery-slot {
  width: auto;
}

.hide {
  opacity: 0;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.image-links {
  width: 40vw;
  max-width: 198px;
  /* height: 160px; */
  object-fit: cover;
  filter: grayscale();
  border: 2px solid var(--eerie-black);
  transition: filter 0.4s ease-in-out;
}

.image-links:hover {
  filter: none;
  cursor: pointer;
}

.intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: all ease-out 0.5s;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  background: rgba(257, 257, 257, 0.9);
  backdrop-filter: saturate(200%) blur(10px);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-image {
  height: 250px;
}

.modal h2 {
  font-family: 'Poller One', cursive;
}
.modal p {
  text-align: center;
  padding: 0 2em;
  opacity: 0.7;
  font-weight: 600;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-link-active {
  background-color: var(--eerie-black) !important;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  background-color: var(--teal);
  border: solid 1px whitesmoke;
  padding: 0.8em;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links.active {
  display: flex;
}

.page-container {
  width: 100%;
  max-width: 1975px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: white;
}

.toggle-button {
  background-color: var(--teal);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

/*! Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    width: 89%;
    margin: 0 auto;
    font-size: 28px;
  }

  header {
    height: 200px;
  }

  footer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }

  .image-links {
    width: 25vw;
    max-width: 216px;
  }

  .modal-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 70vw;
  }

  .modal-image {
    height: 450px;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-start;
  }

  .navbar-link-active {
    color: var(--teal);
    background-color: transparent !important;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links li {
    background-color: transparent;
    border: none;
    font-weight: 600;
    position: relative;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  .navbar-links li a {
    color: var(--gainsboro);
    font-size: 1.1rem;
    padding: 3.2rem rem;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar-links li:after {
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    background-color: var(--teal);
    left: 50%;
    bottom: -10px;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links li:hover:after {
    width: 100%;
    left: 0;
    cursor: pointer;
  }
  .navbar-links li a:hover {
    transition: all 0.3s ease;
    font-size: 1.3rem;
    color: var(--teal);
    cursor: pointer;
  }

  .page-container {
    width: 80%;
  }

  .toggle-button {
    display: none;
  }
}

/*! Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .image-links {
    width: 20vw;
    max-width: 384px;
    /* height: 240px; */
  }

  .modal-container {
    height: 80vh;
    width: 80vw;
  }

  .modal-image {
    height: 650px;
  }

  .modal h2 {
    font-size: 2em;
  }
  .modal p {
    font-size: 1.2em;
    line-height: 1.9;
  }
}
