/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Color Palette */
:root {
  --teal: #0ba39cff;
  --eerie-black: #252525ff;
  --granite-gray: #898989ff;
}

/* !Page Styling */
/* %Elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0;
}

footer {
  width: 100%;
  background-color: var(--eerie-black);
  padding: 2em;
  margin-top: 3em;
}

footer > p {
  color: white;
  text-align: center;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px;
  justify-items: center;
  align-items: center;
  row-gap: 1em;
}

/* %Classes */
.bar {
  height: 3px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.gallery-slot {
  width: 160px;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.image-links {
  width: 160px;
  height: 160px;
  object-fit: cover;
  filter: grayscale();
  border: 2px solid var(--eerie-black);
  transition: filter 0.4s ease-in-out;
}

.image-links:hover {
  filter: none;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-link-active {
  background-color: var(--eerie-black) !important;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  background-color: var(--teal);
  border: solid 1px whitesmoke;
  padding: 0.8em;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links.active {
  display: flex;
}

.page-container {
  width: 100%;
  max-width: 1975px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: white;
}

.toggle-button {
  background-color: var(--teal);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

/*! Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/*! Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
