/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Color Palette */
:root {
  --teal: #0ba39cff;
  --eerie-black: #252525ff;
  --granite-gray: #898989ff;
}

/* !Page Styling */
/* %Elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0;
}

button {
  background-color: var(--teal);
  padding: 0.4em;
  border: none;
  padding: 1em;
  font-size: 14px;
  font-weight: 600;
}

footer {
  width: 100%;
  background-color: var(--eerie-black);
  padding: 2em;
}

footer > p {
  color: white;
  text-align: center;
}
h2 {
  font-family: 'Poller One';
  text-align: center;
  padding-top: 15px;
}

h3 {
  font-family: 'Poller One';
  font-size: 14px;
  background-color: white;
  width: fit-content;
  padding: 0.5em;
  margin-bottom: 1em;
}

header {
  margin-top: 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
main {
  height: 400px;
  width: 100%;
  max-width: 100%;
  background-image: url('../images/main-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main p {
  background-color: var(--eerie-black);
  font-size: 14px;
  color: white;
  width: 92%;
  padding: 0.5em;
}
section {
  width: 70%;
  align-self: center;
}
/* %IDs */

/* %Classes */
.bar {
  height: 3px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.image-links {
  width: 100%;
  border: solid 2.5px var(--granite-gray);
  filter: grayscale();
  transition: filter 0.4s ease-in-out;
}

.image-links:hover {
  filter: none;
}

.logo {
  width: 80%;
}

.main-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 0.5em;
  margin-top: 3em;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-link-active {
  background-color: var(--eerie-black) !important;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  background-color: var(--teal);
  border: solid 1px whitesmoke;
  padding: 0.8em;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links.active {
  display: flex;
}

.page-container {
  width: 100%;
  max-width: 1975px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: white;
}

.read-more {
  color: white;
  text-decoration: none;
}

.section-container {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toggle-button {
  background-color: var(--teal);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

/*! Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  button {
    margin-left: 0;
  }

  h2 {
    font-size: 18px;
  }

  footer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  h3 {
    width: fit-content;
    font-size: 18px;
  }

  header {
    margin-top: 32px;
    height: 200px;
  }

  main {
    height: 40vh;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
  }

  main p {
    width: fit-content;
  }

  section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-links {
    display: block;
    width: 100%;
    max-width: 300px;
  }

  .main-content {
    height: 80%;
    align-items: flex-start;
    grid-column: 2;
    margin-top: 1em;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-start;
  }

  .navbar-link-active {
    color: var(--teal);
    background-color: transparent !important;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links li {
    background-color: transparent;
    border: none;
    font-weight: 600;
    position: relative;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  .navbar-links li a {
    color: var(--gainsboro);
    font-size: 1.1rem;
    padding: 3.2rem rem;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar-links li:after {
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    background-color: var(--teal);
    left: 50%;
    bottom: -10px;
    transition: all 0.3s ease-in-out;
  }

  .navbar-links li:hover:after {
    width: 100%;
    left: 0;
  }
  .navbar-links li a:hover {
    transition: all 0.3s ease;
    font-size: 1.3rem;
    color: var(--teal);
  }

  .page-container {
    height: 100vh;
    justify-content: space-between;
  }

  .section-container {
    width: 100vw;
    height: 30%;
    flex-direction: row;
    justify-content: space-around;
    gap: 1vw;
  }

  .toggle-button {
    display: none;
  }
}
/*! Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: var(--eerie-black);
  }
  header {
    height: 300px;
  }

  h3 {
    grid-column: 2;
    margin-left: 0;
    font-size: calc(20px + 0.5vw);
    width: fit-content;
  }

  main {
    max-width: 1975px;
  }

  main p {
    font-size: calc(14px + 0.2vw);
  }
  section {
    width: auto;
  }

  .image-anchor {
    width: 100%;
  }

  /* .image-links {
    width: 100%;
  } */
  .logo {
    width: 70%;
  }

  .section-container {
    width: 80vw;
    justify-content: center;
    gap: 2em;
  }
}
