/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! Color Palette */
:root {
  --teal: #0ba39cff;
  --eerie-black: #252525ff;
}

/* !Page Styling */
/* %Elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0;
}

button {
  background-color: var(--teal);
  padding: 0.4em;
  border: none;
  margin-left: 0.5em;
  width: 28%;
  font-size: 14px;
  font-weight: 600;
}

footer {
  width: 100%;
  max-width: 100%;
  background-color: var(--eerie-black);
  padding: 2em;
}

footer > p {
  color: white;
  text-align: center;
}
h2 {
  font-family: 'Poller One';
  text-align: center;
  padding-top: 15px;
}

h3 {
  font-family: 'Poller One';
  font-size: 14px;
  background-color: white;
  width: 70%;
  margin: 3em 0 0 1em;
  padding: 0.5em;
}

header {
  margin-top: 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
main {
  height: 400px;
  width: 100%;
  background-image: url('http://drive.google.com/uc?export=view&id=18G2VgCLGAUEpRh1mpBtS4YyTXzcu3WHG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main p {
  background-color: var(--eerie-black);
  color: white;
  width: 92%;
  margin: 0 1em;
  padding: 0.5em;
}
section {
  width: 70%;
  align-self: center;
}
/* %IDs */

/* %Classes */
.bar {
  height: 3px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.image-links {
  width: 100%;
  border: solid 2px var(--eerie-black);
}
.logo {
  width: 80%;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-links {
  display: none;
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-link-active {
  background-color: var(--eerie-black) !important;
}

.navbar-links li {
  text-align: center;
  list-style: none;
  background-color: var(--teal);
  border: solid 1px whitesmoke;
  padding: 0.8em;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
}

.navbar-links.active {
  display: flex;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.read-more {
  color: white;
  text-decoration: none;
}

.section-container {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toggle-button {
  background-color: var(--teal);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

/*! Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    width: 100vw;
  }

  h3 {
    width: 42%;
  }
  header {
    margin-top: 32px;
    height: 200px;
  }

  main p {
    width: 42%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-start;
  }

  .navbar-link-active {
    color: var(--teal);
    background-color: transparent !important;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links li {
    background-color: transparent;
    border: none;
    font-weight: 600;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  .navbar-links li a {
    color: var(--gainsboro);
    font-size: 1.1rem;
    padding: 3.2rem rem;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar-links li a:hover {
    transition: all 0.3s ease;
    font-size: 1.3rem;
    color: var(--teal);
  }

  .section-container {
    flex-direction: row;
    gap: 20px;
    padding: 10px;
  }
  .toggle-button {
    display: none;
  }
}
/*! Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    height: 300px;
  }
  button {
    grid-column: 2;
    margin-left: 0;
    font-size: 22px;
    font-weight: 400;
  }
  main {
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 35%;
  }

  main p {
    grid-column: 2;
    margin-left: 0;
    font-size: 22px;
    width: fit-content;
  }

  h3 {
    grid-column: 2;
    margin-left: 0;
    font-size: 22px;
    width: fit-content;
  }

  section {
    padding: 3%;
  }
  .logo {
    width: 70%;
  }

  .page-container {
    height: 100vh;
  }
}
